<launch>

	<!--KINECT  - Necessário iniciar os nós do KINECT  (Feito pelo Kinect_nodes.launch por enquanto)-->


	<node pkg="tf" type="static_transform_publisher" name="simple_tf_kinect_broadcaster_node" args="0 0 0 0 0 1.7 camera_depth_optical_frame map 100" />



	<include file="$(find openni_launch)/launch/openni.launch">

	</include>



	<!--OCTOMAP SERVER-->


	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node" output='screen'>
		<param name="frame_id" type="string" value="/map" />
		<param name="resolution" value="0.025" />
		<param name="height_map" type="bool" value="true" />
		<param name="sensor_model/max_range" value="-1" />
		<param name="latch" type="bool"  value="false" />
		<param name="sensor_model/max_range" value="100.0" />

		<remap from="cloud_in" to="/camera/depth/points" />
	</node>


</launch>
